.btn30 {
  margin: 4rem auto;
  background: transparent;
  color: #fafafa;
  border: 2px solid #ff62ea;
  box-shadow: 0 0 10px #ff62ea;
  animation: neon-border 1.5s infinite alternate;
  padding: 10px 40px;
  border-radius: 6px;
  letter-spacing: 3px;
  position: relative;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes neon-border {
  from {
    box-shadow: 0 0 5px #ff62ea;
  }

  to {
    box-shadow: 0 0 10px #ff62ea, 0 0 30px #ff62ea;
  }
}
