
html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #000 #111;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: inherit;
  background: #000;
  border-radius: 5px;
  padding:1rem ;
  width: 100%;

}
.container_gran_chela_club{
  max-width: calc(100vw - 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;
  margin: auto;
}


/* WhatsApp button */
.whatsapp-fab {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  background: #fafafa;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .18);
  overflow: hidden;

  transition: transform .2s ease;
}

.whatsapp-fab:hover {
  transform: scale(1.06);
}

.whatsapp-fab img {
  width: 75%;
  height: 75%;
  object-fit: contain;
}
